menv/
service/llm_models/.locks
service/llm_models/models--NousResearch--Nous-Hermes-2-Mistral-7B-DPO
service/llm_models/models--NousResearch--Hermes-2-Pro-Llama-3-8B
node_modules/
service/routes/__pycache__
./key_generator.py
.env
server/.env
service/.env
client/.env.development