menv/
microservice/llm_models/.locks
microservice/llm_models/models--NousResearch--Nous-Hermes-2-Mistral-7B-DPO
microservice/llm_models/models--NousResearch--Hermes-2-Pro-Llama-3-8B
node_modules/
.env
miika.env
key_generator.py
test