.chat-box {
    margin-top: 0.7em;
    margin-left: 5em;
}

.chat-profpic {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
}

.chat-text {
    display: block;
    width: 88%;
    border: none;
    background-color: #2B2D31;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    margin-top: 0.3em;
    overflow-wrap: break-word;
    cursor: text;
}

.chat-text-italic {
    font-style: italic;
}

.chat-text::placeholder {
    color: #969696
}

.identity-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.identity-time {
    color: #969696;
}

[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #969696;
    font-style: italic;
}

textarea {
    resize: none;
    overflow: hidden;
  }
  
  textarea::-webkit-resizer {
    display: none;
  }