html, body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #2B2D31;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}

.chat-feed {
    display: flex;
    min-height: 100vh;
    height: auto;
    font-size: 16px;
    margin-top: 3.2em;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #2B2D31;
    position: relative;
    margin-left: 5em;
}

@media (min-width: 875px) {
    .container {
        width: 100%;
    }
  }